{% extends "layout.html" %}

{% block content %}


<body>

	<div class="container-fluid mt--7">
    	<div class="row">
        	<div class="col">
         	 <div class="card shadow">
          	  <div class="card-header border-0">
          	  		            <div class="table-responsive">
					              <table class="table align-items-center table-flush">
					                <thead class="thead-light">
					                  <tr>
					                    <th scope="col">Product Name</th>
					                    <th scope="col">Generic Name</th>
					                    <th scope="col">MRP</th>
					                    <th scope="col">Quantity</th>
					                    <th scope="col">Amount</th>
					                  </tr>
					                </thead>
					                <tbody>
					                  {% for row in purchaseInfo %}
					                    <tr>
					                      {% for i in range(0,5) %}
					                        <td>
					                          {{ row[i] }}
					                        </td>
					                      {% endfor %}
					                    </tr>
					                  {% endfor %} 
					                  <tr>
					                  		<td colspan="3"></td>
					                    	<td colspan="1">Total Amount</td>
					                    	<td>{{ totalAmount }}</td>
					                   </tr>
					                </tbody>
					              </table>
					            </div>


					            <form role="form" method = "POST" action="{{ url_for('Dashboard.confirmSale') }}">
					            	<input type="text" name="operation" value="cancel">
           						   {{ form.hidden_tag() }}
						            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
						              <div class="btn-group ml-2 mb-2" role="group" aria-label="First group">
						                <a href="{{ url_for('Dashboard.cancelTransaction') }}" type="button" class="form-control btn btn-danger">Cancel</a>
						              </div>
						            </div>
						        </form>
						        <form method="POST" action="{{ url_for('Dashboard.confirmSale')}}">
						        	<input type="text" name="operation" value="confirm">
           						   {{ form.hidden_tag() }}
						              <div class="btn-group ml-2 mb-2" role="group" aria-label="First group">
						              	<a href="{{ url_for('Dashboard.confirmTransaction') }}" type="button" class="form-control btn btn-success">Confirm</a>
						              </div>
						            </div>
						        </form>
          	  </div>
       		 </div>
    		</div>
		</div>
	</div>
</body>

{% endblock content %}