{% extends "layout.html" %}

{% block content %}
<div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Welcome!</h1>
              
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Enter new user credentials</small>
              </div>
              <form  method="POST" onsubmit="validatePass()">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    {{ form.hidden_tag() }}
                    {{ form.firstName(placeholder = "Firstname" , class = "form-control", type ="text") }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    {{ form.lastName(placeholder = "Lastname" , class = "form-control", type ="text") }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    {{ form.employId(placeholder = "Employ id" , class = "form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    {{ form.email(placeholder = "Email" , class = "form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.password(placeholder = "Password" , id = "password" , class = "form-control" , type = "password" )}}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.confirm(placeholder = "Re-enter the Password" , id = "confirm-password" , class = "form-control" , type = "password" )}}
                  </div>
                </div>
                <div class="text-center">
                	{{ form.submit(class = "btn btn-primary mt-4" , onsubmit = "validatePass()") }}
                </div>
                <dir id = "pw" class = "">
                	
                </dir>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  	function validatePass() {
		var x = document.getElementById('password').value;
		var y = document.getElementById('confirm-password').value;
		if (x.length < 8 || y.length <8) {
			alert("password should contain minimum 8 characters.");
		}
		else if( x != y ){

			alert("Passwords do not match");
			// document.getElementById("pw").innerHTML = "Passwords do not match";
		}
		else{
			redirect("{{ url_for('Register.register') }}");
		}
	}
  </script> 
  {% endblock content %}