{% extends "layout.html" %}

{% block content %}








<body>
  



    <!-- Page content -->
   <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Enter new user credentials</small>
              </div>
              <form  method="POST" onsubmit="validatePass()">

                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                         <div class="input-group-prepend">
                           <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                         </div>
                         {{ form.hidden_tag() }}
                         {{ form.firstName(placeholder = "Firstname" , class = "form-control", type ="text")}}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        
                        <div class="input-group input-group-alternative mb-3">
                         {{ form.lastName(placeholder = "Lastname" , class = "form-control", type ="text") }}
                        </div>

                      </div>
                    </div>
                  </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                    </div>
                    {{ form.employId(placeholder = "Employee id" , class = "form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    {{ form.email(placeholder = "Email" , class = "form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.password(placeholder = "Password" , id = "password" , class = "form-control" , type = "password" )}}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.confirm(placeholder = "Re-enter the Password" , id = "confirm-password" , class = "form-control" , type = "password" )}}
                  </div>
                </div>
                <div class="text-center">
                  {{ form.submit(class = "btn btn-primary mt-4" , onsubmit = "validatePass()") }}
                </div>
                <dir id = "pw" class = "">
                  
                </dir>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function validatePass() {
    var x = document.getElementById('password').value;
    var y = document.getElementById('confirm-password').value;
    if (x.length < 8 || y.length <8) {
      alert("password should contain minimum 8 characters.");
    }
    else if( x != y ){

      alert("Passwords do not match");
      // document.getElementById("pw").innerHTML = "Passwords do not match";
    }
    else{
      redirect("{{ url_for('Register.register') }}");
    }
  }
  </script>
  
  
  </div>
      <!-- Footer -->
    <!-- !!!!!!!!FOOTER NOT NEEDED AS OF NOW
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    -->
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Optional JS -->
  <script src="./assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="./assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="./assets/js/argon.js?v=1.0.0"></script>
  

</body>


{% endblock content %}