{% extends "layout.html" %}

{% block content %}






<body>
  
  <div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <form>
                <div class="form-group">
                <div class="dropdown" style="width:200px;">
                  <a class="btn btn-primary dropdown-toggle" style="width:400px;" href="#" role="button" id="chooseProduct" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose product
                  </a>
                  
                  <div class="dropdown-menu" aria-labelledby="chooseProduct">
                    <a class="dropdown-item" style="width:400px;" href="#">Action</a>
                  </div>

                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
  </div>



  
  
  
      <!-- Footer -->
    <!-- !!!!!!!!FOOTER NOT NEEDED AS OF NOW
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    -->
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Optional JS -->
  <script src="./assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="./assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="./assets/js/argon.js?v=1.0.0"></script>
  

</body>


{% endblock content %}